<%- include('../partials/head.ejs')  %>

<body>
   <%- include('../partials/header.ejs')  %>
   <section>
      <div>
         <h3 class="title-h3">Modificar Producto</h3>
         <form action="/products/edit/<%= productToEdit.idProduct%>?_method=PUT" method="POST"
            class="form-editpproduct-style">
            <div class="editProductContainer">
               <div class="row">
                  <div class="col-25">
                     <label for="idProduct">ID del producto</label>
                  </div>
                  <div class="col-75">
                     <input type="number" id="idProduct" name="idProduct" value=<%= productToEdit.idProduct%>
                        readonly><br>
                  </div>
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="name">Nombre</label>
                  </div>
                  <div class="col-75">
                     <input type="text" id="name" name="name" value="<%= productToEdit.name %>"
                        placeholder="Nombre del producto..." required>
                  </div>
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="classification">Clasificación</label>
                  </div>
                  <div class="col-75">
                     <input type="text" id="classification" name="classification"
                        value="<%= productToEdit.classification %>" placeholder="Clasificación..." required>
                  </div>
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="variety">Variedad</label>
                  </div>
                  <div class="col-75">
                     <input type="text" id="variety" name="variety" value="<%- productToEdit.variety %>"
                        placeholder="Variedad..." required>
                  </div>
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="price">Precio</label>
                  </div>
                  <div class="col-75">
                     <input type="text" id="price" name="price" value="<%- productToEdit.price%>" placeholder="Precio"
                        required>
                  </div>
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="featured">Destacado</label>
                  </div>
                  <div class="col-75">
                     <input type="checkbox" id="featured" name="featured" value="<%- productToEdit.featured%>">
                  </div>
               </div>
               <div class="row"> 
                  <div class="col-25">
                     <label for="image">Imagen del producto</label>
                  </div>
                  <div class="col-75">
                     <label for="file-upload" class="custom-file-upload">
                        <i class="fas fa-cloud-upload-alt"></i> Subir imagen
                     </label>
                     <input id="file-upload" type="file" name="productImage">
                  </div>
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="description">Descripción</label>
                  </div>
                  <div class="col-75">
                     <textarea id="subject" name="description"
                        placeholder="Descripción del producto..."><%= productToEdit.description %></textarea>
                  </div>
               </div>
               <br>
               <div class="row">
                  <input type="submit" id='modifyProduct' value="Modificar"
                     onclick="return confirm('¿Estas seguro que deseas guardar los cambios?')"
                     class="confirmButton">
               </div>
            </div>
         </form>
   </section><%- include('../partials/footer.ejs')  %> </body>

</html>