<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOREM IPSUM VINOS</title>
    <!--Favicon, iconito que se ve en el tab del navegador-->
    <link rel="icon" type="image/png" href="images/LogoWeb.svg">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href='/css/normalize.css'>
    <link rel="stylesheet" href='/css/header.css'>
    <link rel="stylesheet" href='/css/footer.css'>
    <link rel="stylesheet" href='/css/form.css'>
    <link rel="stylesheet" href='/css/index.css'>
    <link rel="stylesheet" href='/css/login.css'>
    <link rel="stylesheet" href='/css/productDetail.css'>
    <link rel="stylesheet" href='/css/productcart.css'>
    <link rel="stylesheet" href='/css/productoCreate.css'>
    <link rel='stylesheet' href='/css/productEdit.css' />
</head>
<body>
  
  <%- include('../partials/header.ejs')  %>
<section>
      
   <div>
      <h2>Modificar Producto: <%- productToEdit.name %></h2>
      <form action="/products/edit/<%= productToEdit.idProduct%>?_method=PUT" method="POST" class="form-editpproduct-style">
      <input type="submit" onclick="alert('Vas a modificar este producto. Estás seguro?')" value="Modificar" class="button-style-save"><br>      
   </div>   
   <div class="back-edit">
         <div class="contenedor-editProduct">
            <div class="formulario-producto">
               <label for="">ID</label><td><%= productToEdit.idProduct%> </td>
            </div>
         <div class="formulario-producto">
            <label for="">Nombre</label>
            <input type="text" name="productName" value="<%- productToEdit.name %>" class="input-style">            
         </div>
         <div class="formulario-producto">
            <label for="">Descripción</label>
            <input type="text" name="productDescription" value="<%- productToEdit.description %>" class="input-style">
         </div>
      <div class="formulario-producto">
            <label for="">Clasificación</label>
            <input type="text" name="productClassification" value="<%- productToEdit.classification %>" class="input-style">
      </div>
      <div class="formulario-producto">
         <label for="">Variedad</label>
         <input type="text" name="productVariety" value="<%- productToEdit.variety %>" class="input-style">
      </div>
      <div class="formulario-producto">
         <label for="">Precio</label>
          <input type="text" name="productPrice" value="<%- productToEdit.price%>" class="input-style">
      </div>
      <div class="formulario-producto">
         <label for="">Featured</label>
          <input type="text" name="productFeatured" value="<%- productToEdit.featured%>" class="input-style">
      </div>
      <div class="formulario-producto">
            <label for="">Foto</label>
            <input type="file" name="productImage" class="input-style">
      </div>


</div>

   </form>
</section>
      <%- include('../partials/footer.ejs')  %>

   </body>
</html>