<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOREM IPSUM VINOS</title>
    <!--Favicon, iconito que se ve en el tab del navegador-->
    <link rel="icon" type="image/png" href="images/LogoWeb.svg">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href='/css/normalize.css'>
    <link rel="stylesheet" href='/css/header.css'>
    <link rel="stylesheet" href='/css/footer.css'>
    <link rel="stylesheet" href='/css/form.css'>
    <link rel="stylesheet" href='/css/index.css'>
    <link rel="stylesheet" href='/css/login.css'>
    <link rel="stylesheet" href='/css/productDetail.css'>
    <link rel="stylesheet" href='/css/productcart.css'>
    <link rel="stylesheet" href='/css/productoCreate.css'>
    <link rel='stylesheet' href='/css/productEdit.css' />
    <link rel="stylesheet" href='/css/product.css'> 
</head>
<body>
  <header>
  <%- include('../partials/header.ejs')  %>
  </header>
   <main>
      <h2>Listado de Productos</h2><br>
      <table>
            <thead>
               <th> Id </th>
               <th> Nombre </th>
               <th> Clasificación </th>
               <th> Variedad  </th>
               <th> Precio </th>
               <th> Featured </th>
               <td><button class="button button-new"> Nuevo producto</button></td>

            </thead>
            <tbody>
               <% products.forEach(product => { %>
               <tr>
                   <td><%= product.idProduct%> </td>
                   <td><%= product.name%></td>
                   <td><%= product.description%></td>
                   <td><%= product.classification%></td>
                   <td><%= product.variety%></td>
                   <td><%= product.price%></td>
                   <td><%= product.featured%></td>
                   <td><form method="GET" action="/products/edit/<%= product.idProduct %>">
                     <input type="submit" value="Modificar" class="button-style-save"><br>
                  
                  </form>
               </td>
               </tr>
               <%  }) %>
            </tbody>
         </table>

      </main>

      <%- include('../partials/footer.ejs')  %>

   </body>
</html>
<!--Falta incluir

/products (GET)
Listado de productos

/products (POST)
Acción de creación (a donde se envía el formulario)

-->