<%- include('../partials/head.ejs')  %>

<body>
   <%- include('../partials/header.ejs')  %>
   <section>
      <div>
         <h3 class="title-h3">Modificar Producto</h3>
         <form action="/products/edit/<%= producto.id%>?_method=PUT" method="POST"
            enctype="multipart/form-data" class="form-editpproduct-style editForm" >
            <div class="editProductContainer">
               <div class="row">
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="name">Nombre</label>
                  </div>
                  <div class="col-75">
                     <input type="text" id="nameProduct" name="name" value="<%= producto.name %>" placeholder="Nombre del producto..." required>
                        <small class="text-danger" id="nameProductError"></small>
                        <% if( locals.errors){ %>
                           <% for(let i = 0; i < errors.length; i++){ %>
                           <% if(errors[i].param == "nameProduct"){ %>
                           <small class="text-danger"> <%= errors[i].msg%> </small>
                           <% } %>
                           <% } %>
                           <% } %>
                  </div>
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="classification">Clasificación</label>
                  </div>
                  <div class="col-75">
                     <select name="classification_id" id="classification">
                        <option value="">Elija una Opción</option>
                        <option value="1">Tinto</option>
                        <option value="2">Blanco</option>
                        <option value="3">Rosé</option>
                        <option value="4">Espumante</option>
                        </select>
                        <small class="text-danger" id="classificationError"></small>
                        <% if( locals.errors){ %>
                           <% for(let i = 0; i < errors.length; i++){ %>
                           <% if(errors[i].param == "classification"){ %>
                           <small class="text-danger"> <%= errors[i].msg%> </small>
                           <% } %>
                           <% } %>
                           <% } %>
                  </div>
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="variety">Variedad</label>
                  </div>
                  <div class="col-75">
                     <select name="variety_id" id="variety">
                        <option value="">Elija una opción</option>
                        <option value="1">Malbec</option>
                        <option value="2">Cabernet</option>
                        <option value="3">Merlot</option>
                        <option value="4">Syrah</option>
                        <option value="5">Semillón</option>
                        <option value="6">Bonarda</option>
                        <option value="7">Torrontés</option>
                        <option value="8">Sauvignon</option>
                        <option value="9">Brut</option>
                        <option value="10">Extra Brut</option>
                        <option value="11">Sec</option>
                        <option value="12">Demi-Sec</option>
                        <option value="13">Blend</option>
                     </select>
                     <small class="text-danger" id="varietyError"></small>
                     <% if( locals.errors){ %>
                     <% for(let i = 0; i < errors.length; i++){ %>
                     <% if(errors[i].param == "variety"){ %>
                     <small class="text-danger"> <%= errors[i].msg%> </small>
                     <% } %>
                     <% } %>
                     <% } %>
                  </div>
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="price">Precio</label>
                  </div>
                  <div class="col-75">
                     <input type="text" id="price" name="price" value="<%- producto.price%>" placeholder="Precio"
                        required>
                        <small class="text-danger" id="priceError"></small>
                        <% if( locals.errors){ %>
                        <% for(let i = 0; i < errors.length; i++){ %>
                        <% if(errors[i].param == "price"){ %>
                        <small class="text-danger"> <%= errors[i].msg%> </small>
                        <% } %>
                        <% } %>
                        <% } %>
                  </div>
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="featured">Destacado</label>
                  </div>
                  <div class="col-75">
                     <input type="checkbox" id="featured" name="featured" value="<%- producto.featured%>">
                  </div>
               </div>
               <div class="row"> 
                  <div class="col-25">
                     <label for="image">Imagen del producto</label>
                  </div>
                  <div class="col-75">
                     <label for="file-upload" class="custom-file-upload">
                        <i class="fas fa-cloud-upload-alt"></i> Subir imagen
                     </label>
                     <input id="file-upload" type="file" name="productImage" accept=".png, .jpg, .jpeg" required>
                     <small class="text-danger" id="imageError"></small>
                     <% if( locals.errors){ %>
                        <% for(let i = 0; i < errors.length; i++){ %>
                        <% if(errors[i].param == "file-upload"){ %>
                        <small class="text-danger"> <%= errors[i].msg%> </small>
                        <% } %>
                        <% } %>
                        <% } %>
                  </div>
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="description">Descripción</label>
                  </div>
                  <div class="col-75">
                     <textarea id="subject" name="description"
                        placeholder="Descripción del producto..."><%= producto.description %></textarea>
                        <small class="text-danger" id="subjectError"></small>
                        <% if( locals.errors){ %>
                           <% for(let i = 0; i < errors.length; i++){ %>
                           <% if(errors[i].param == "subject"){ %>
                           <small class="text-danger"> <%= errors[i].msg%> </small>
                           <% } %>
                           <% } %>
                           <% } %>
                  </div>
               </div>
               <br>
               <div class="row">
                  <input type="submit" id='modifyProduct' value="Modificar" class="confirmButton">
                     
               </div>
            </div>
         </form>
   </section><%- include('../partials/footer.ejs')  %> 
   <script src="/js/validationFormsEdit.js"></script>
</body>

</html>