<%- include('../partials/head.ejs')  %>

<body>
   <%- include('../partials/header.ejs')  %>
   <section>
      <div>
         <h3 class="title-h3">Modificar Producto</h3>
         <form action="/products/edit/<%= producto.id%>?_method=PUT" method="POST"
            class="form-editpproduct-style" enctype="multipart/form-data">
            <div class="editProductContainer">
               <div class="row">
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="name">Nombre</label>
                  </div>
                  <div class="col-75">
                     <input type="text" id="name" name="name" value="<%= producto.name %>"
                        placeholder="Nombre del producto..." required>
                  </div>
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="classification">Clasificación</label>
                  </div>
                  <div class="col-75">
                     <select name="classification_id" id="classification">
                           <option value="1">Tinto</option>
                           <option value="2">Blanco</option>
                           <option value="3">Rosado</option>
                        </select>
                  </div>
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="variety">Variedad</label>
                  </div>
                  <div class="col-75">
                     <select name="variety_id" id="variety">
                        <option value="1">Malbec</option>
                        <option value="2">Cavernet</option>
                        <option value="3">Merlot</option>
                        <option value="4">Syrah</option>
                     </select>
                  </div>
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="price">Precio</label>
                  </div>
                  <div class="col-75">
                     <input type="text" id="price" name="price" value="<%- producto.price%>" placeholder="Precio"
                        required>
                  </div>
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="featured">Destacado</label>
                  </div>
                  <div class="col-75">
                     <input type="checkbox" id="featured" name="featured" value="<%- producto.featured%>">
                  </div>
               </div>
               <div class="row"> 
                  <div class="col-25">
                     <label for="image">Imagen del producto</label>
                  </div>
                  <div class="col-75">
                     <label for="file-upload" class="custom-file-upload">
                        <i class="fas fa-cloud-upload-alt"></i> Subir imagen
                     </label>
                     <input id="file-upload" type="file" name="productImage" accept=".png, .jpg, .jpeg" required>
                     <% if (locals.errors && errors.avatar ) { %>
                     <%= errors.avatar.msg %>
                     <% } %>
                  </div>
               </div>
               <div class="row">
                  <div class="col-25">
                     <label for="description">Descripción</label>
                  </div>
                  <div class="col-75">
                     <textarea id="subject" name="description"
                        placeholder="Descripción del producto..."><%= producto.description %></textarea>
                  </div>
               </div>
               <br>
               <div class="row">
                  <input type="submit" id='modifyProduct' value="Modificar"
                     onclick="return confirm('¿Estas seguro que deseas guardar los cambios?')"
                     class="confirmButton">
               </div>
            </div>
         </form>
   </section><%- include('../partials/footer.ejs')  %> </body>

</html>