<%- include('../partials/head.ejs')  %>

<body>
   <%- include('../partials/header.ejs')  %>
   <main>
      <h2 class="titulo">Listado de Productos</h2><br>

      <table>
         <thead>

            <th> Nombre </th>
            <th> Descripción </th>
            <th> Clasificación </th>
            <th> Variedad </th>
            <th> Precio </th>
            <th> Foto </th>
         </thead>
         <tbody>
            <% products.forEach(product => { %>
            <tr>

               <td class="detail-product"><%= product.name%></td>
               <td class="detail-product"><%= product.description%></td>
               <td class="detail-product"><%= product.classification%></td>
               <td class="detail-product"><%= product.variety%></td>
               <td class="detail-product"><%= product.price%></td>
               <td class="detail-product">
               <article class="product">
                  <a href="/products/detail/<%= product.idProduct %>">
                     <div class="productImageDiv">
                     <img src="/images/botella-producto.jpg" alt="producto1" class="productImage">
                     </div>
                  </a>
               </article>
               </td>

               <td class="detail-product">

                  <form method="GET" action="/products/detail/<%= product.idProduct %>">
                     <input type="submit" value="Ver detalle" class="regularButton">
                  </form>
               </td>

            </tr>
            <%  }) %>
         </tbody>
      </table>

   </main>

   <%- include('../partials/footer.ejs')  %>

</body>

</html>