<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOREM IPSUM VINOS</title>
    <!--Favicon, iconito que se ve en el tab del navegador-->
    <link rel="icon" type="image/png" href="images/LogoWeb.svg">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href='/css/normalize.css'>
    <link rel="stylesheet" href='/css/header.css'>
    <link rel="stylesheet" href='/css/footer.css'>
    <link rel="stylesheet" href='/css/form.css'>
    <link rel="stylesheet" href='/css/index.css'>
    <link rel="stylesheet" href='/css/login.css'>
    <link rel="stylesheet" href='/css/productDetail.css'>
    <link rel="stylesheet" href='/css/productcart.css'>
    <link rel="stylesheet" href='/css/productoCreate.css'>
    <link rel='stylesheet' href='/css/productEdit.css' />
    <link rel='stylesheet' href='/css/product.css' />
</head>
<body>
  
  <%- include('../partials/header.ejs')  %>
<section>

   <div>
      <h3 class="title-h3">Modificar Producto</h3>
      <form action="/products?_method=PUT" method="POST" class="form-editpproduct-style">
   </div>   
      <table>
         <thead>
            <th> Id </th>
            <th> Nombre </th>
            <th> Descripción </th>
            <th> Clasificación </th>
            <th> Variedad  </th>
            <th> Precio </th>
            <th> Featured </th>
            <th> Foto </th>
         
         </thead>
         <tbody>
            <tr>
                <td style="width : 50px"> 
                  <label for=""></label><%= productToEdit.idProduct%> 
               </td>
               <td> 
                  <input style="width : 150px;" type="text" name="name" value="<%= productToEdit.name %>" class="input-style">            
               </td>
               <td> 
                  <input style="width : 150px" type="text" name="description" value="<%= productToEdit.description %>" class="input-style">
               </td>
               <td> 
                <input style="width : 150px;" type="text" name="classification" value="<%= productToEdit.classification %>" class="input-style">
               </td>
               <td> 
                <input style="width : 150px;" type="text" name="variety" value="<%- productToEdit.variety %>" class="input-style">
               </td>
               <td> 
               <input style="width : 70px;" type="text" name="price" value="<%- productToEdit.price%>" class="input-style">
               </td>
               <td> 
               <input style="width : 130px;" type="text" name="featured" value="<%- productToEdit.featured%>" class="input-style">
               </td>
               <td>
               <input style="width : 130px;" type="file" name="image" class="input-style">
               </td>
               <td>
                  <button type="submit" onclick="alert('¿Estas seguro que deseas guardar los cambios?')" class="button-style-save">Guardar</button><br>
               </td>
               <td>
                  <button type="submit" onclick="alert('¿Estas seguro que deseas eliminar el producto?')" class="button-style-delete">Eliminar</button><br>
               </td>
               </tr>
            
          
         </tbody>
      </table>
   </form>


</section>
      <%- include('../partials/footer.ejs')  %>

   </body>
</html>
<!--Falta incluir

/products (GET)
Listado de productos

/products (POST)
Acción de creación (a donde se envía el formulario)

-->