<%- include('../partials/head.ejs')  %>

<body>
   <%- include('../partials/header.ejs')  %>
   <main>
      <h2 class="titulo">Listado de Productos</h2><br>
      <div class="createProductButton">
         <a href="/products/create"><button class="regularButton" id=createProductButton>Nuevo producto</button></a>
      </div>
      <table>
         <thead>
            <th> Nombre </th>
            <th> Descripción </th>
            <th> Clasificación </th>
            <th> Variedad </th>
            <th> Precio </th>
            <th> Featured </th>
         </thead>
         <tbody>
            <% products.forEach(product => { %>
            <tr>

               <td class="detail-product"><%= product.name%></td>
               <td class="detail-product"><%= product.description%></td>
               <td class="detail-product"><%= product.classification_id%></td>
               <td class="detail-product"><%= product.variety_id%></td>
               <td class="detail-product"><%= product.price%></td>
               <td class="detail-product"><%= product.featured%></td>

               <td class="detail-product">
                  <form method="GET" action="/products/edit/<%= product.id %>">
                     <input type="submit" value="Modificar" class="regularButton">
                  </form>
               </td>
               <td class="detail-product">
                  <form method="POST" action="/products/edit/delete/<%= product.id%>?_method=DELETE">
                     <input type="submit" onclick="return confirm('¿Estas seguro que deseas eliminar el producto?')"
                        value="Eliminar" class="cancelButton">
                  </form>
               </td>

            </tr>
            <%  }) %>
         </tbody>
      </table>

   </main>

   <%- include('../partials/footer.ejs')  %>

</body>

</html>