<%- include('../partials/head.ejs')  %>

<body>
   <%- include('../partials/header.ejs')  %>
   <main>
      <h2 class="titulo">Listado de Productos</h2><br>
 
      <table>

         <tbody>

            <section class="productos-destacados">

               <div class="products">
                    <% products.forEach(product => { %>
                    <article class="product">
                      <a href="/products/detail/<%= product.id %>">
                        <div class="productImageDiv">
                          <img src="/images/products/<%= product.image %>" alt="producto1" class="productImage">
                        </div>
                        <div class="main-article">
                          <h4 class="description"><%= product.name %></h4>
                          <p class="description"><%= product.variety.name %></p>
                          <p class="precio"> <% const formatter = new Intl.NumberFormat('en-US', {
                            style: 'currency',
                            currency: 'USD',
                            minimumFractionDigits: 0
                          })
                          var value = product.price%>
                          <%= formatter.format(value) %> </p>
                        </div>
                      </a>
                    </article>
                    <% }) %>;
                  </div>
                </section>
            
            
            
            

         </tbody>
      </table>

   </main>

   <%- include('../partials/footer.ejs')  %>

</body>

</html>