<%- include('../partials/head.ejs')  %>

<body>
   <%- include('../partials/header.ejs')  %>
   <form action="/product-detail" method="POST" class="productDetail-form">
      <h3>Detalle del producto</h3>
      <div class="product-details">
         <div class="productDetailed">
            <p class="name"><%= producto.name %></p>
            <img src="/images/products/<%= producto.image %>" alt="150" width="150">
            <p class="type"><%= producto.variety %></p>
            <p class="price"><%= producto.price %></p>
            <p class="info"><%= producto.description %></p>
            <select name="cantidad" id="cantidad">
               <option value="0" selected disabled>Seleccione una cantidad</option>
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
            </select>
            <button type="submit" class="regularButton">Agregar al Carrito</button><br>
         </div>
      </div>
   </form>
   <div class="related">
      <h2>Productos relacionados</h2>
      <ol>
         <li>
            <img src="/images/products/vino1.jpg">
            <div class="line"></div>
            <div class="product-details">
               <p class="name">Vino 2</p>
               <p class="price">$1.100</p>
            </div>
         </li>
         <li>
            <img src="/images/products/vino3.jpg">
            <div class=line></div>
            <div class="product-details">
               <p class="name">Vino 3</p>
               <p class="price">$800</p>
            </div>
         <li>
            <img src="/images/products/vino4.jpg">
            <div class=line></div>
            <div class="product-details">
               <p class="name">Vino 4</p>
               <p class="price">$1.200</p>
            </div>
         </li>
         <li>
            <img src="/images/products/vino5.jpg">
            <div class=line></div>
            <div class="product-details">
               <p class="name">Vino 5</p>
               <p class="price">$500</p>
            </div>
         </li>
      </ol>
   </div>
   <%- include('../partials/footer.ejs')  %>
</body>

</html>