<%- include('../partials/head.ejs')  %>
<body>
   
   <%- include('../partials/header.ejs')  %>
   
  </header>
  
    <div class="sign-up-htm">     
      <form action="/users/register" method="POST" enctype="multipart/form-data" class="form-style">
         <h3>Registrate</h3>
         <div class="formulario-registro">
            <label for="">Nombre</label>
            <input type="text" name="firstname">
            <% if (locals.errors && errors.firstname ) { %>
                   <%= errors.firstname.msg %>
               </div>
           <% } %>
         </div>
         <div class="formulario-registro">
            <label for="">Apellido</label>
            <input type="text" name="lastname">
            <% if (locals.errors && errors.lastname ) { %>
                   <%= errors.lastname.msge %>
               </div>
           <% } %>
         </div>
         <div class="formulario-registro">
            <label for="">Email</label>
            <input type="email" name="email">
            <% if (locals.errors && errors.email ) { %>
                   <%= errors.email.msg %>
               </div>
           <% } %>
         </div>
         <div class="formulario-registro">
            <label for="">Contraseña</label>
            <input type="password" name="password">
            <% if (locals.errors && errors.password ) { %>
               <%= errors.password.msg %>
           </div>
       <% } %>
         </div>
         <div class="formulario-registro">
            <label for="">Repetir Contraseña</label>
            <input type="password" name="repassword">
            <% if (locals.errors && errors.repassword ) { %>
               <%= errors.repassword.msg %>
           </div>
       <% } %>
         </div>
            <div class="formulario-registro" >
            <input type="file" name="userAvatar" placeholder="Avatar"> 
         </div>
         <button type="submit" class="enviar">Registrarme</button><br>
         <button type="reset" class="borrar">Borrar</button><br>
      </form>
      <%- include('../partials/footer.ejs')  %> 

   </body>
</html>
