<%- include('../partials/head.ejs')  %>

<body>
   <%- include('../partials/header.ejs')  %>


   <div class="loginBody">

         <div class="login-wrap">
            <div class="login-html">
                <img src="/images/users/<%= loggedUser.image %>" alt="Avatar" class="avatar">
                <label for="tab-1" class="tab">Hola <%= loggedUser.firstname %> <%= loggedUser.lastname %> </label>
                <label for="tab-1" class="tab">Tu información: </label>
               
               <div class="login-form">
                  <div class="sign-up-htm"> 
                     <div class="group">
                        <label for="user" class="label">Nombre</label>
                        <input id="user" type="text" name="firstname" class="input" value=<%= loggedUser.firstname %>>
                        <% if (locals.errors && errors.firstname ) { %>
                        <%= errors.firstname.msg %>
                        <% } %>
                     </div>
                     <div class="group">
                        <label for="user" class="label">Apellido</label>
                        <input id="user" type="text" name="lastname" class="input" value=<%= loggedUser.lastname %>>
                        <% if (locals.errors && errors.lastname ) { %>
                        <%= errors.lastname.msg %>
                        <% } %>
                     </div>
                     <div class="group">
                        <label for="email" class="label">Email</label>
                        <input id="email" type="email" name="email"  class="input" value=<%= loggedUser.email %>>
                        <% if (locals.errors && errors.email ) { %>
                        <%= errors.email.msg %>
                        <% } %>
                     </div>

                     <div class="group">
                        <a href="/users/edit"><button type="submit" class="button" value="Registrarse">Modificar Información</button></a>
                     </div>   
                     <label for="tab-1" class="tab">Tus Productos: </label>
                     <div class="group">
                        <a href="/products"><button type="submit" id=createProductButton class="button" value="Registrarse">Modificar Productos</button></a>
                     </div>   
                  </div>



               </div>
            </div>

            </div>
         </div>
      </form>
   </div>

   <%- include('../partials/footer.ejs')  %>
</body>

</html>