<%- include('../partials/head.ejs')  %>

<body>
    <%- include('../partials/header.ejs')  %>
    
    <h3 class="userName"><%= loggedUser.first_name %> <%= loggedUser.last_name %></h3>
    <div class="userProfile">
        <img class="imgUser" src="/images/users/<%= loggedUser.image %>" width="300" alt="Foto de perfil">
        <div class="userDetail">
            <p class="name"><%= loggedUser.first_name %></p>
            <p class="name"><%= loggedUser.last_name %></p>
            <p class="email"><%= loggedUser.email %></p>    
            <p class="discount"><%= loggedUser.category %></p>
        </div> 
    </div>
    <%- include('../partials/footer.ejs')  %>
</body>

</html>